/*========event list pages=========*/
/*=================================*/

/*dropdown for selecting major*/
#major-select {
	text-align:center;
	font-family:"open sans";
	font-size: ;
}

/*each individual event listed on page*/
#event-list {
	margin-top:10%;
}

/*blue section of event listing*/
#event-name{
	background-color: #303944;
	color:#ffffff;
	font-family:Ailerons;
	font-size:27px;
	height:100px;
	padding-top:8%;
}

/*turning off text decoration for links*/
#event-name a{
	text-decoration:none;
	color:#ffffff;
}

/*different formatting for long names (need smaller font) to fit*/
#long-text {
	font-size:20px;
}
/*=================================*/
/*=================================*/



/*==========sign in page===========*/
#login-form{
	margin-top:10%;
}

#signin-btn{
	text-align:center;
	margin-top:10%;
}