@font-face{
    font-family: 'Ailerons';
    src: url('fonts/ailerons.ttf') format('truetype');
}

@font-face{
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

#dropdown {
	text-align:center;
	font-family:"Open Sans";
}

/*resize howl logo to 300px*/
.logo{
    width: 300px;
}

/**Start Screen1 Style**/
#wrapper.screen1{
    width: 100%;
}

#wrapper.screen1 img{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

#wrapper.screen1 .form-group{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#wrapper.screen1 .form-group label{
    font-family: 'Ailerons';
    font-size: 30px;
    text-shadow: 0;
    margin-bottom: 10px;
}

#wrapper.screen1 .form-group .form-control{
    font-family: 'Ailerons';
    font-size: 20px;
    height: 45px;
    background: #414f5e;
    color: #DFEBF2;
    padding-bottom: 10px;
    border-radius: 0px;
    width: 60%;
    margin: 0 auto;
}

@media(max-width:400px) {
    #wrapper.screen1 .form-group .form-control{
        font-family: 'Ailerons';
        background: #414f5e;
        color: #DFEBF2;
        border-radius: 0px;
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
    }
    
    .logo{
        width: 200px;
    }
}

@media(min-width:1024px) {
    #wrapper.screen1 .form-group .form-control{
        width: 30%;
    }
}

/**End Screen1 Style**/

/**Signup Style**/

#signup{
    width: 80%;
    margin: 0 auto;
}

#signup .form-control{
    border-radius: 0px;
    background: #414f5e;
    color: #DFEBF2;
    font-family: 'Ailerons';
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 40px;
}

/**End Signup Style**/

/*========event list pages=========*/
/*=================================*/

/*dropdown for selecting major*/
#major-select {
	text-align:center;
	font-family:"open sans";
	font-size: ;
}

/*each individual event listed on page*/
#event-list {
	margin-top:10%;
}

/*blue section of event listing*/
#event-name{
	background-color: #303944;
	color:#ffffff;
	font-family:Ailerons;
	font-size:27px;
	height:100px;
	padding-top:8%;
}

/*turning off text decoration for links*/
#event-name a{
	text-decoration:none;
	color:#ffffff;
}

/*different formatting for long names (need smaller font) to fit*/
#long-text {
	font-size:20px;
}
/*=================================*/
/*=================================*/



/*==========sign in page===========*/
#login-form{
	margin-top:10%;
}

#signin-btn{
	text-align:center;
	margin-top:10%;
}

#wrapper.signin label{
    font-family: 'Ailerons';
    font-size: 20px;
}

#wrapper.signin .form-control{
    border-radius: 0px;
}

#wrapper.signin #page-content-wrapper .container-fluid{
    width: 80%
}

#wrapper.signin #page-content-wrapper .container-fluid button{
    border-radius: 0px;
    font-family: 'Ailerons';
    font-size: 18px;
    height: 45px;
    padding-bottom: 10px;
}
/*=================================*/


/*==========event page===========*/
#wrapper.event-page{
    width:95%;
    margin: 0 auto;
}

#wrapper.event-page .event-name{
    font-family: 'Ailerons';
    font-size: 48px;
    color: #414f5e;
}

#wrapper.event-page .event-label{
    font-family: 'Ailerons';
    font-size: 30px;
    color: #414f5e;
    overflow: hidden;
}

#wrapper.event-page .event-info{
    font-family: 'Open Sans';
    font-size:30px;
    color: #DFEBF2;
}

.photos {
    max-width: 30%;
    display: inline;
}

#wrapper.event-page img{
    margin: 0:auto;
    margin-bottom: 10px;
}

.sort-section {
    display:inline;
    width: 100%;
}

.advice-section{
    background: #414f5e;
    padding-top: 10px;
}

.review_sort{
    display: inline-block;
    width: 70%;
    border-radius: 0px;
}

.sortreviewlabel{
    padding-right: 15px;
    vertical-align: middle;
}

#reviewsortbox{
    width: 100%;
}

.addreview{
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 10px;
    background: #414f5e;
    color: white;
}

.addreview:hover{
    background: white;
    color: #414f5e;
}

.advice{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #dfebf2;
    margin-top:15px;
    font-size:12px;
}

.reviewer-info{
    padding-left: 10px;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #ffffff;
    float: left;
}

/* format the upvote/downvote section on bottom right of each review */
.right {
    float: right;
    padding-top: 18px;
    padding-right: 15px;
    font-size: 25px;
    color: #dfebf2;
}
    
.right-align{
    text-align: right;
}

.upvote, .downvote{
    font-size: 15px;
    color: black;
} 

/*============add advice===========*/
#wrapper.share-advice{
    width:100%
}

.title{
    font-family: 'Open Sans';
    font-size: 36px;
    color: #414f5e;
    text-align: center;
    margin-bottom:20px;
}

.boxsizingBorder{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.indent{
    margin-left:3em;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background:
url('../images/star-rating.png');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('../images/star-rating-filled.png');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.rating-wrapper{
    vertical-align: text-bottom;
}

/*============End add advice===========*/