@font-face{
    font-family: 'Ailerons';
    src: url('../fonts/Ailerons.ttf') format('truetype');
}

@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

/**Start Screen1 Style**/
#wrapper.screen1{
    width: 100%;
}

/*resize howl logo to 300px*/
.logo{
    width: 300px;
}

#wrapper.screen1 img{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

#wrapper.screen1 .form-group{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#wrapper.screen1 .form-group label{
    font-family: 'Ailerons';
    font-size: 30px;
    text-shadow: 0;
    margin-bottom: 10px;
}

#wrapper.screen1 .form-group .form-control{
    font-family: 'Ailerons';
    font-size: 20px;
    height: 45px;
    background: #414f5e;
    color: #DFEBF2;
    padding-bottom: 10px;
    border-radius: 0px;
    width: 60%;
    margin: 0 auto;
}

@media(max-width:400px) {
    #wrapper.screen1 .form-group .form-control{
        font-family: 'Ailerons';
        background: #414f5e;
        color: #DFEBF2;
        border-radius: 0px;
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
    }
    
    .logo{
        width: 200px;
    }
}

@media(min-width:1024px) {
    #wrapper.screen1 .form-group .form-control{
        width: 30%;
    }
}
/**End Screen1 Style**/

/*===Start Index Style====*/
#wrapper.homepage {
    width: 100%;
}

#page-content-wrapper a{
    text-decoration: none;
}

#wrapper.homepage #page-content-wrapper{
    vertical-align: middle;
}

#topcategory{
    width: 400px;
    margin: 0 auto;
    clear: both;
    margin-top: 25px;
}

#bottomcategory{
    width: 400px;
    margin: 0 auto;
    clear: both;
}

.circular_category{
    border-radius:50%;
    transition: transform 0.5s ease;
    transform: scale(1);
    display: inline-block;
}

.circular_category:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

#overlay{
    opacity: 0;
    background: rgba(0,0,0,.75);
    text-align: center;
    vertical-align: middle;
    padding-top: 80px;
    padding-bottom: 90px;
    transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    width: 200px;
}

#overtext{
    text-decoration: none;
    width: 100px;
    margin: 0 auto;
    font-family: 'Ailerons';
    font-size: 18pt;
    color: white;
}

.circular_category:hover #overlay{
    opacity: 1;
}

.circular_category:hover #overtext{
    text-decoration: none;
}

.left_cat{
    float: left;
}

.right_cat{
    float: right
}

.trophy, .group_3, .pencil, .chatbox{
    background-size: cover; 
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.trophy{
    background: url(../images/competitionicon.svg);
    background-position: center; 
}

.chatbox{
    background: url(../images/organizationicon.svg);
    background-position: 3px; 
}

.group_3{
    background: url(../images/organization2.svg);
    background-position: center -10px; 
}

.pencil{
    background: url(../images/coursesicon.svg);
    background-position: 5px -5px; 
}

@media(min-width:1400px){
    #event-list{
        margin-left:22%;
        margin-right:22%;
    }
}

@media(min-width:1200px){
    #event-list{
        margin-left:20%;
        margin-right:20%;
    }
}

@media(min-width:1000px){
    .trophy, .group_3, .pencil, .chatbox{
        zoom: 1.2;
        margin-bottom: 15px;
    }
    #topcategory, #bottomcategory{
        width: 500px;
    }
   
}

@media(max-width:1000px){  
    .trophy, .group_3, .pencil, .chatbox{
        zoom: 1.2;
        margin-bottom: 15px;
    }
    #topcategory, #bottomcategory{
        width: 500px;
    }
    #event-list{
        margin-left:17%;
        margin-right:17%;
    }
}

@media(max-width:800px) {
    .trophy, .group_3, .pencil, .chatbox{
        zoom: 1.2;
        margin-bottom: 15px;
    }
    #topcategory, #bottomcategory{
        width: 420px;
    }
     #event-list{
        margin-left:15%;
        margin-right:15%;
    }
}

@media(max-width:500px){
    #topcategory, #bottomcategory{
        width: 200px;
        margin: 0 auto;
    }
    .trophy, .group_3, .pencil, .chatbox{
        float: none;
        margin: 0 auto;
        zoom: 1;
        margin-bottom: 10px;
    }

    #event-name p{
        font-size:18px;
    }

    #page-content-wrapper #event-list{
        margin-left:-5px;
        margin-right:-5px
    }
}

@media(max-width:768px){
    #overlay{
        opacity: 1;
        background: rgba(0,0,0,.5);
    }
}

/*======End Index Style=====*/

/**Signup Style**/

#signup{
    width: 90%;
    margin: 0 auto;
}

#signup h2{
    font-family: 'Ailerons';
}

#signup .form-control{
    border-radius: 0px;
    background: #A5B5BE;
    color: #303944;
    font-family: 'Ailerons';
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 40px;
}

#signup .writebox{
    height: 100px;
    font-family: 'Open Sans';
    font-size: 14px;
    padding: 10px;
    color: white;
}

.yesno{
    height: 30px;
}

.yesno label{
    vertical-align: middle;
    padding-right: 10px;
}

.yesno input{
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.signupbutton{
    background: #303944;
    color: #A5B5BE;
    font-family: 'Ailerons';
    font-size: 12pt;
    padding-bottom: 10px;
    border-color: transparent;
    margin-top: 15px;
}

.signupbutton:hover{
    color: #303944;
    background: #A5B5BE;
}

/**End Signup Style**/

/*========event list pages=========*/
/*=================================*/

/*dropdown for selecting major*/
#wrapper.eventlist{
    width:90%;
    margin: 0 auto;
}

.eventlistsort{
    display: inline-block;
    width: 80%;
    border-radius: 0px;
    background: #414f5e;
    color: #DFEBF2;
}

.eventlistlabel{
    padding-right: 10px;
    vertical-align: middle;
    font-family: 'Ailerons';
    font-size: 20px;
}

.eventsortbox{
    width: 80%;
    margin: 0 auto;
}

/*each individual event listed on page*/
#event-list {
	margin-top:10%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

#event-list img{
    width:100px;
    height:100px;
    margin-left:-30px;
    margin-right:2%;
}

/*blue section of event listing*/
#event-name{
	background-color: #303944;
	color:#ffffff;
	font-family:Ailerons;
	font-size:27px;
	height:100px;
	padding-top:22px;
}

/*turning off text decoration for links*/
#event-name a{
	text-decoration:none;
	color:#ffffff;
}

/*different formatting for long names (need smaller font) to fit*/
#long-text {
	font-size:20px;
}

/*=================================*/
/*=================================*/



/*==========sign in page===========*/
#login-form{
	margin-top:10%;
    
}

.signin-form{
    margin-left:auto;
    margin-right:auto;
}

#signin-email{
    background: #A5B5BE;
    font-family: 'Ailerons';
    font-size: 20px;
}

#signin-pwd{
    background: #A5B5BE;
}

#signin-btn{
	text-align:center;
    border-radius:5px;
}

#wrapper.signin label{
    font-family: 'Ailerons';
    font-size: 20px;
}

#wrapper.signin .form-control{
    border-radius: 0px;
}

#wrapper.signin #page-content-wrapper .container-fluid{
    width: 80%
}

#wrapper.signin #page-content-wrapper .container-fluid button{
    border-radius: 0px;
    font-family: 'Ailerons';
    font-size: 18px;
    height: 45px;
    padding-bottom: 10px;
}

.signinbutton{
    background: #303944;
    color: #A5B5BE;
    font-family: 'Ailerons';
    font-size: 12pt;
    padding-bottom: 10px;
    border-color: transparent;
    margin-top: 15px;
}

.signinbutton:hover{
    color: #303944;
    background: #A5B5BE;
}


/*=================================*/


/*==========event page===========*/
#wrapper.event-page{
    width:95%;
    margin: 0 auto;
}

#wrapper.event-page .event-name{
    font-family: 'Ailerons';
    font-size: 48px;
    color: #414f5e;
}

#wrapper.event-page .event-label{
    font-family: 'Ailerons';
    font-size: 30px;
    color: #414f5e;
    overflow: hidden;
}

#wrapper.event-page .event-info{
    font-family: 'Open Sans';
    font-size:30px;
    color: #DFEBF2;
}

.photos {
    max-width: 30%;
    display: inline;
}

#wrapper.event-page img{
    margin: 0:auto;
    margin-bottom: 10px;
}

.sort-section {
    display:inline;
    width: 100%;
}

.advice-section{
    background: #414f5e;
    padding-top: 10px;
    margin-bottom: 6px;
}

.advice-section img {
    height: 20px;
}

.advice-section helpful{
    display: none;
}

.advice-section date{
    display: none;
}

.review_sort{
    /*background: #414f5e;
    color: #DFEBF2; */
    display: inline-block;
    width: 70%;
    border-radius: 0px;
}

.sortreviewlabel{
    padding-right: 15px;
    vertical-align: middle;
}

#reviewsortbox{
    width: 100%;
}

.addreview{
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 10px;
    background: #414f5e;
    color: white;
}

.addreview:hover{
    background: white;
    color: #414f5e;
}

.advice{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #ffffff;
    margin-top:20px;
    font-size:12px;
    border: 1px solid grey;
}

.reviewer-info{
    padding-left: 10px;
    font-family: 'Open Sans';
    font-size: 10px;
    color: white;
    float: left;
}

/* format the upvote/downvote section on bottom right of each review */
.vote{
    float:right;
}

.upvote, .downvote{
    font-size: 15px;
    color: black;
} 

/*============add advice===========*/
#wrapper.share-advice{
    width:90%;
    margin: 0 auto;
}

.title{
    font-family: 'Ailerons';
    font-size: 36px;
    color: #414f5e;
    text-align: center;
    margin-bottom:20px;
}

.boxsizingBorder{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.indent{
    margin-left:3em;
}

.advice-section img{
    width: 15px; 
    height: 15px; 
    display: inline-block;
    white-space: nowrap;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background:
url('images/star-rating.png');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('images/star-rating-filled.png');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.rating-wrapper{
    vertical-align: text-bottom;
}

#submit-btn
{
    background-color: #414F5E;
    margin-bottom:5px;
    font-family: 'Ailerons';
    color: #DFEBF2;
    margin-top: 5px;
    margin-bottom: 15px;
}

/*============End add advice===========*/

/*============About page===============*/
.about-logo{
    width: 200px;
}

#wrapper.about{
    width: 100%;
}

#wrapper.about img{
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

/*============End about page===============*/

/*============Profile page=================*/
.user-info h{
    font-family: 'Ailerons';
    text-align: center;
    color: #414F5E;
    font-size: 48px;
}

.user-info p{
    font-family: 'Ailerons';
    color: #414F5E;
    font-size: 24px;
}
/*==========End profile page===============*/